{%extends 'includes/base.html'%}

{%block title%}
Search
{%endblock%}
{%block content%}
{% from "includes/form_helpers.html" import createInput %}
  <div class="row">
    <div class="col-md-8">
      <form action="{{ url_for('search') }}" method="POST">
        {{ createInput(form.search) }}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% for _, post in posts.items() %}
        <div>
          <h3>{{post.title}}</h3>
          <hr>
          <small class="form-text text-muted">Posted by {{post.author}}</small>
        </div>
      {% endfor %}
    </div>
  </div>
{%endblock%}
