.idea
.DS_Store
.ipynb_checkpoints

exercises/
__pycache__/

Flask_old/

# firestore credential
*cred.json

# To Be deleted
python/exemples/

python/student_exercises/implementations/basic_input_output/
python/student_exercises/implementations/input_io/
python/student_exercises/implementations/pygame/

python/student_exercises/corrections/basics/my_dictionaries/
python/student_exercises/corrections/basics/my_lists/
python/student_exercises/corrections/basics/my_lists_comprehensions/
python/student_exercises/corrections/basics/my_sets/
python/student_exercises/corrections/basics/my_strings/
python/student_exercises/corrections/basics/my_tuples/
python/student_exercises/corrections/basic_input_output/
python/student_exercises/corrections/bruteforce/
python/student_exercises/corrections/input_io/
python/student_exercises/corrections/pygame/

numpy_pandas/
flask/