.idea
.DS_Store
.ipynb_checkpoints

exercises/
__pycache__/

Flask_old/

# firestore credential
*cred.json

# To Be deleted
numpy_pandas/examples/data_aquisition/REST_API
numpy_pandas/examples/data_aquisition/web_scrapping/basic