.idea
.DS_Store
.ipynb_checkpoints

exercises/
__pycache__/

Flask_old/

# firestore credential
*cred.json

# To Be deleted

python/student_exercises/implementations/basic_input_output/
python/student_exercises/implementations/some_small_exercises/pyramid.py

python/student_exercises/corrections/some_small_exercises/pyramid.py

numpy_pandas/
flask/example/
flask/student_exercises/corrections/
flask/student_exercises/implementations/posts_csv/
flask/student_exercises/implementations/posts_firestore/