{% extends 'includes/_base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
  <h1>Signup</h1>
  <form action="TODO: Use the correct route" method="POST">
    <div class="mb-3">
      <label for="tbx_uid" class="form-label">UID</label>
      <input type="text" class="form-control" name="tbx_uid" id="tbx_uid" placeholder="Enter your username" />
    </div>
    <div class="mb-3">
      <label for="tbx_pwd" class="form-label">Password</label>
      <input type="password" class="form-control" name="tbx_pwd" id="tbx_pwd" placeholder="Enter your password" />
    </div>
    <input type="submit" value="Register" class="btn btn-primary" />
  </form>
{% endblock %}
