{%extends 'includes/base.html'%}

{%block title%}
View Post ({{post.post_id}})
{%endblock%}
{%block content%}
  <div class="row">
    <div class="col-md-8">
      <h1>{{post.title}}</h1>
      <hr>
      <img src="{{ url_for('static', filename='imgs/uploads/' + post.image_name) }}" class="img-fluid" alt="Responsive image">
      <p class="lead">{{post.content}}</p>
      <ul>
        {% for cat in post.categories %}
          <li>{{cat}}</li>
        {% endfor %}
      </ul>

      <hr>
      <p>Posted by {{post.author}}</p>
    </div>
  </div>
{%endblock%}
