{%extends 'includes/base.html'%}

{%block title%}
Signup WTF
{%endblock%}
{%block content%}
{% from 'includes/form_helpers.html' import createInput %}
    <form action="{{ url_for('signup') }}" method="POST">
      {{ createInput(form.firstname, placeholder="email address of the user") }}
      {{ createInput(form.lastname) }}
      {{ createInput(form.email) }}
      {{ createInput(form.age) }}
      {{ createInput(form.uid) }}
      {{ createInput(form.password) }}
      {{ createInput(form.confirm) }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{%endblock%}
