{%extends 'includes/base.html'%}

{%block title%}
Add New Post
{%endblock%}
{%block content%}
{% from "includes/form_helpers.html" import createInput %}
  <div class="row">
    <div class="col-md-8">
      <form action="{{ url_for('add_post') }}" method="POST">
        {{ createInput(form.title) }}
        {{ createInput(form.content) }}
        {{ createInput(form.categories) }}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{%endblock%}
